@import '../../../styles/card-styles.scss';

.title {
    margin-bottom: 1em;
}

.form-group {
    margin-bottom: 1em;
}

.form-control {
    margin-top: .5em;
    color: var(--text-color);
    background-color: var(--background-color);

    &:focus{
        border-color: var(--salmon-pink);
        box-shadow: 0 0 0 0.2rem rgba(250, 137, 147, 0.25);
    }
}

.custom {
    margin-top: 1.5em;
    &:hover {
        transform: scale(1.09);
    }
}

#emailPrivacy{
    color: grey;
}

::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}

::-webkit-input-placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}

:-moz-placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}
