<section>
  <div class="content">
    <div class="title container">
      <h2> {{ 'ABOUT_ME' | translate }} </h2>
    </div>
    <div class="container">
      <div class="left-side">
        <p class="description">{{'ABOUT_SECTION.DESCRIPTION' | translate}}</p>
        <a href="cv.pdf" download="CV">
          <button type="button" class="btn btn-outline-secondary">
              <span> {{ 'ABOUT_SECTION.DOWNLOAD_CV' | translate }} </span>
          </button>
        </a>
      </div>
      <div class="separator"></div>
      <div class="right-side">
        <div class="info-row">
          <label class="bold"> {{'ABOUT_SECTION.NAME' | translate }}:</label> <span> Sylvie Molinatto </span>
        </div>
        <div class="info-row">
          <label class="bold"> {{'ABOUT_SECTION.DATE_OF_BIRTH' | translate }}:</label> <span> 06/12/2000 </span>
        </div>
        <div class="info-row">
          <label class="bold"> Email:</label> <span> sylvie.molinatto00&#64;gmail.com </span>
        </div>
        <div class="info-row">
          <label class="bold"> {{ 'ABOUT_SECTION.FROM' | translate }}:</label> <span> Condove (TO), Italy </span>
        </div>
      </div>
    </div>
    <app-skills></app-skills>
</div>
</section>
