.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5em;
    margin: 5em;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 60em;
    background-color: var(--background-color);
    color: var(--text-color);
}

.description {
    margin-bottom: 1em;
}

.custom{
    &:hover{
      transform: scale(1.09);
    }
}
  