.navbar {
    background-color: var(--background-color);
    color: var(--text-color);
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--old-rose);
}

.nav-link.active {
    color: var(--old-rose);
}

.navbar-toggler:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.languageDropdown {
    min-width: auto;
}

.theme-switcher {
    min-width: auto;
    max-width: min-content;
    padding: 10px;
    border: 1px solid var(--text-color);
    color: var(--secondary-color);
    background-color: var(--background-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switcher:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.custom-button:active {
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn-outline-secondary.custom:focus{
    background-color: var(--text-color);
    color: var(--background-color);
}

.offcanvas {
    background-color: var(--background-color);
    color: var(--text-color);
}