@import '../../../styles/container-styles.scss';
@import '../../../styles/img-styles.scss';

.left-side{
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: start;
}

.right-side{
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
}

.right-side div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.img {
  &:hover {
    transform: scale(1.09);
  }
}

.description {
  margin-bottom: 1.5em;
}

.role {
  color: var(--primary-color);
  font-weight: normal;
}

.name {
  font-weight: 550;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons-container {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  fill: var(--primary-color);
  background: var(--background-color);
  border: 1px solid var(--primary-color);
  transition: var(--background-color) 0.15s ease-in-out;
  margin-right: .5em;

  &:hover {
    transform: scale(1.09);
  }
}

/* Stili per la disposizione verticale su schermi piccoli */
@media (max-width: 768px) {
  .img {
    padding-top: 3em;
    padding-bottom: 2em;
  }

  .social-icons-container {
    justify-content: center;
  }
}

.custom{
  &:hover{
    transform: scale(1.09);
  }
}

@media(max-width: 1016px) {
  .actions-container {
    flex-direction: column;
    justify-content: start;
    text-align: start;
  }
  .social-icons-container {
    display: flex;
    list-style: none;
    padding-top: 2em;
  }

  .role{
    text-align: center;
  }

  .name {
    text-align: center;
  }
  .description {
    text-align: center;
  }
}