.navbar {
    background-color: var(--background-color);
    color: var(--text-color);
}

.link {
    cursor: pointer;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--old-rose);
}

.nav-link.active {
    color: var(--old-rose) !important;
}

.navbar-toggler:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.languageDropdown {
    min-width: auto;
}

.theme-switcher {
    min-width: auto;
    max-width: min-content;
    padding: 12px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    color: var(--secondary-color);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switcher:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.custom-button:active {
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn-outline-secondary.custom:focus {
    background-color: var(--text-color);
    color: var(--background-color);
}

.offcanvas {
    max-width: 50vw;
    min-width: 0;
}

.offcanvas-header {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Montserrat", system-ui;
}

.offcanvas-body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Montserrat", system-ui;
}

.btn-close {
    --bs-btn-close-focus-shadow: 0;
    --bs-btn-close-color: var(--text-color);
    --bs-btn-close-bg: var(--background-color);
}

.custom-close-btn {
    padding-bottom: 22px;
    padding-right: 20px;

    &:hover {
        transform: scale(1.09);
    }
}

.custom-toggler {
    border: none;
    background-color: transparent;
    padding: 0;

    .bi-list {
        color: var(--text-color);
        width: 30px;
        height: 30px;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:active {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        transform: scale(1.09);
    }
}