/* Put these src/app/app.component.css */
:host {
    --content-padding: 10px;
  }
  header {
    display: block;
    padding: var(--content-padding);
  }
  .content {
    padding: var(--content-padding);
  }