/* Put these src/app/app.component.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.body {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 767px) {
  .body {
    flex: 0;
    display: inline;
  }
}