@import '../../../styles.scss';
@import '../../../styles/container-styles.scss';

p{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

.steps {
  max-width: 70vw;
  margin: 0 auto;
}

.container-info{
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding: 1.1em;

  &:hover {
    background: var(--background-color);
    border-radius: .6em;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    @include box-shadow;
  }
}

.info {
  display: flex;
  flex-direction: row;
}

.right-info{
  margin-left: auto;
}

.step {
  display: flex;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 32px;
    height: 0;
    width: 2px;
    background-color: var(--text-color);
    margin-top: 1em;
  }

  .info {
    margin: 2px 0 0 0;
    padding: 0 0 0 1em;
  }

  .title {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 px;
    color: var(--text-color);
    bottom: 5px;
    position: relative;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  .text {
    width: 50vw;
    font-size: 14px;
    color: var(--text-color);
    padding-left: 1em;
    margin: 0;
  }

  &:not(:last-child) {
    &:after {
      height: 100%;
      width: 1px;
    }
   
  }
}

.number {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--background-color);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background-color);
  font-size: 15px;
  font-weight: 600;
  margin-right: 14px;

  &.completed {
    background-color: var(--text-color);
    margin-top: 1em;
    margin-bottom: 1em;
  }

  svg {
    width: 16px;
    height: 16px;
    object-fit: contain;

    path {
      fill: var(--background-color);
    }
  }
}

.custom-spinner {
  border: 3px solid var(--placeholder-color); 
  border-top: 3px solid var(--background-color); 
  border-radius: 50%; 
  width: 20px; 
  height: 20px; 
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}