.offcanvas {
    background-color: var(--background-color);
    color: var(--text-color);
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--old-rose);
}

.nav-link.active {
    color: var(--old-rose);
}

.languageDropdown {
    min-width: auto;
}

.theme-switcher {
    min-width: auto;
    max-width: min-content;
    padding: 10px;
    border: 1px solid var(--text-color);
    color: var(--secondary-color);
    background-color: var(--background-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switcher:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}

.custom-button:active {
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn-outline-secondary.custom:focus {
    background-color: var(--text-color);
    color: var(--background-color);
}

.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    display: none;
}

.offcanvas-backdrop.show {
    display: block;
}

.offcanvas {
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
  }
  
  .offcanvas.show {
    transform: translateX(0);
  }
  
  .offcanvas-backdrop {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
  }
  
  .offcanvas-backdrop.show {
    opacity: 1;
  }