/* You can add global styles to this file, and also import other style files */
/* Put these styles in: src/styles.css */

/* Tema chiaro */
:root {
  --primary-color: #ffffff;
  --secondary-color: #6c757d;
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Tema scuro */
[data-theme="dark"] {
  --primary-color: #343a40;
  --secondary-color: #ffffff;
  --background-color: #343a40;
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Applica le variabili CSS */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--primary-color);
}

.btn-outline-secondary {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.btn-outline-secondary:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}