@use '@angular/material' as mat;

@include mat.core();
// Define the theme object.
$theme: mat.define-theme((
  color: (
    theme-type: light
  ),
  typography: (
    brand-family: 'Montserrat, sans-serif',
    bold-weight: 900
  ),
  density: (
    scale: -1
  )
));

/* Coolors Exported Palette - https://coolors.co/faf0f1-fa8993-5c3d3f-454142-ad6f74 */
:root {
  @include mat.all-component-themes($theme);
  --lavender-blush: #FAF0F1;
  --salmon-pink: #FA8993;
  --rose-ebony: #5C3D3F;
  --jet: #454142;
  --old-rose: #AD6F74;

  --primary-color: #ffffff;
  --secondary-color: #000000;
  --background-color: #F7F7F8;
  --surface-color: #ffffff;
  --text-color: #000000;

  --placeholder-color: #aeaeae; 
  --error-color: #f44336;
}

/* Tema scuro */
[data-theme="dark"] {
  --primary-color: #343a40;
  --secondary-color: #ffffff;
  --background-color: var(--jet);
  --text-color: #ffffff;
  --surface-color: #554F50;
}

/* Mixin per ombre */
@mixin box-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

main{
  font-family: "Montserrat", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Stili globali */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0; 
  font-family: "Montserrat", system-ui;
}

/* Stili per il header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--background-color);
  @include box-shadow;
}

/* Stili per i paragrafi */
p {
  margin: 0;
  padding: 0.5rem 0;
}

/* Stili per la navbar */
.navbar {
  background-color: var(--primary-color);
  padding: .5rem;
}

.btn-outline-secondary {
  color: var(--text-color);
  background: transparent;
  border-color: var(--text-color);
  &:hover {
    background-color: var(--text-color);
    color: var(--background-color);
    transform: scale(1.09);
  }
}
