/* You can add global styles to this file, and also import other style files */

/* Coolors Exported Palette - https://coolors.co/faf0f1-fa8993-5c3d3f-454142-ad6f74 */

/* Tema chiaro */
:root {
    --lavender-blush: #FAF0F1ff;
    --salmon-pink: #FA8993ff;
    --rose-ebony: #5C3D3Fff;
    --jet: #454142ff;
    --old-rose: #AD6F74ff;
    
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --background-color: var(--lavender-blush);
    --text-color: #000000;
  }
  
  /* Tema scuro */
  [data-theme="dark"] {
    --primary-color: #343a40;
    --secondary-color: #ffffff;
    --background-color: var(--jet);
    --text-color: #ffffff;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Applica le variabili CSS */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  p{
    margin: 0;
  }
  
  .navbar {
    background-color: var(--primary-color);
  }
  
  .btn-outline-secondary {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
  }
  
  .btn-outline-secondary:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
  }